/* marketplace banner arrow */
.dark #marketplace .splide__arrow svg {
  fill: #ffffff;
}

.dark #marketplace .splide__arrow {
  width: 2.2em;
  height: 2.2em;
  opacity: 100;
  padding: 10px;
  background: #323232;
}

.dark #marketplace .splide__arrow:hover {
  background: #212121;
}

.dark #marketplace .splide__arrow:disabled {
  display: none;
}

.dark #marketplace .splide__arrow--prev {
  margin-left: -30px;
}

.dark #marketplace .splide__arrow--next {
  margin-right: -30px;
}

/* for white mode */
#marketplace .splide__arrow svg {
  fill: #212121;
}

#marketplace .splide__arrow {
  width: 2.2em;
  height: 2.2em;
  opacity: 100;
  padding: 10px;
  background: #ededed;
}

#marketplace .splide__arrow:hover {
  background: #d2d2d2;
}

#marketplace .splide__arrow:disabled {
  display: none;
}

#marketplace .splide__arrow--prev {
  margin-left: -30px;
}

#marketplace .splide__arrow--next {
  margin-right: -30px;
}
