.dark #explore .splide__arrow svg {
  fill: #ffffff;
}

.dark #explore .splide__arrow {
  width: 2.2em;
  height: 2.2em;
  opacity: 100;
  padding: 10px;
  background: #323232;
  @apply shadow-2xl;
}

.dark #explore .splide__arrow:hover {
  background: #212121;
}

.dark #explore .splide__arrow:disabled {
  display: none;
}

.dark #explore .splide__arrow--prev {
  margin-left: -30px;
}

.dark #explore .splide__arrow--next {
  @media (max-width: 600px) {
    margin-right: -30px;
  }
}

/* for white mode */
#explore .splide__arrow svg {
  fill: #212121;
}

#explore .splide__arrow {
  width: 2.2em;
  height: 2.2em;
  opacity: 100;
  padding: 10px;
  background: #ededed;
}

#explore .splide__arrow:hover {
  background: #d2d2d2;
}

#explore .splide__arrow:disabled {
  display: none;
}

#explore .splide__arrow--prev {
  margin-left: -30px;
}

#explore .splide__arrow--next {
  @media (max-width: 600px) {
    margin-right: -30px;
  }
}
